/* GENERICS */

body {
    padding:15px;
}


section {
    margin-top: 40px;
    margin-bottom: 40px;
    display:block;
}


/* SYSTEM */
#heading {
    display: inline-block;
}


#system {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#new_system {
    float: right;
    width: 120px;
    margin-right: 20px;
}

#system *, #new_system *{
    margin: 5px;
    width: inherit;
}

#system select, #system label {
    width:300px;
    font-size:24px;
}

/* DATA */

#description {

}

#data {
    padding: 20px;
}

#data caption, th{
    text-align: left;
}

#parameters input {
    width: 80px;
}

.param_c, .initialvalues {
    padding-right: 10px;
}

#submit-visualise-container {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100px;
}

#submit-visualise {
    background-color: rgb(152, 136, 165);
    font-size: 24px;
}


/* ANIMATIONS */
#animations {

}

.video-container {
    float: left;
    width: 50%;
    min-width: 500px;
}

@media all and (max-width: 1000px) {
    .video-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        float:none;
    }
}

video {
    width: 100%;
    min-width: inherit;
}


