/* GENERICS */

body {
    padding:10px;
}


section {
    margin-top: 40px;
    margin-bottom: 40px;
}


/* SYSTEM */
#systems {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

#system, #new_system {
    width: 120px;
}

#system {
    float: left;
    margin-right: 10px;
}

#new_system {
    float: right;
}

#system *{
    margin: 5px;
    width: inherit;
}

#new_system *{
    margin: 5px;
    width: inherit;
}

/* DATA */
#data {

}

#data caption, th{
    text-align: left;
}

#parameters input {
    width: 80px;
}

.param_c, .initialvalues {
    padding-right: 10px;
}

#submit-visualise-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100px;
}

#submit-visualise {
    background-color: rgb(152, 136, 165);
}


/* ANIMATIONS */
#animations {

}

.video-container {
    float: left;
    width: 50%;
    min-width: 500px;
}

@media all and (max-width: 1000px) {
    .video-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        float:none;
    }
}

video {
    width: 100%;
    min-width: inherit;
}


