/* GENERICS */

body {
    padding:15px;
    /*font-family: 'Bodoni Moda', serif;*/
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Roboto Mono', monospace;*/
    /*font-family: 'Roboto Slab', serif;*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}


section {
    margin-top: 20px;
    margin-bottom: 20px;
    display:block;
}

blockquote {
    margin: 0;
}

figure {
    margin-left: 0;
}

footer {
    text-align: center;
    font-size: 12px;
}


/* SYSTEM */
#heading {
    display: inline-block;
}


#system {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#new_system {
    float: right;
    width: 120px;
    margin-right: 20px;
}

#system *, #new_system *{
    margin: 5px;
    width: inherit;
}

#system select, #system label {
    width:300px;
    font-size:24px;
}

/* DATA */

#description, #description textarea {
    width: 100%;
}

#data {
    padding: 20px;
}

#data caption, th{
    text-align: left;
}

#parameters input {
    width: 80px;
}

.param_c, .initialvalues {
    padding-right: 10px;
}

#submit-visualise-container {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#submit-visualise {
    background-color: rgb(152, 136, 165);
    font-size: 24px;
}


/* ANIMATIONS */
#animations {

}

.video-container {
    float: left;
    width: 50%;
    min-width: 500px;
}

@media all and (max-width: 1000px) {
    .video-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        float:none;
    }
}

video {
    width: 100%;
    min-width: inherit;
}


/* FOOTER */



/* MODAL */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    text-align: justify;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#infoModalBtn {
    float:right;
    margin-top: 20px;
}


